<div class="event-card">
    <div class="event-img-container">
        <img src="/img/{{imgName}}" alt="{{imgAlt}}">
    </div>
    <div class="event">
        <h3>{{name}}</h3>
        <p class="event-date">{{date}}</p>
        <p class="event-desc">{{description}}</p>
    </div>
</div>