<div class="up-next-card">
    <div class="post-img-container">
        <img src="/img/{{imgName}}" alt="{{imgAlt}}">
    </div>
    <div class="post">
        <h3>{{title}}</h3>
        <p class="post-summary">{{summary}}</p>
        <a class="post-read-more" href="{{upNextLink}}">Read More</a>
    </div>
</div>